{% extends 'layout.html' %}

{% block title %}Inicio - RECICLA FÁCIL{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    </head>
    <header>
        <h1>RECICLA FÁCIL!</h1>
    </header>
    <div class="row-container">
        <div class="box-container">
            <h2>¿Por qué es importante reciclar?</h2>
            <p class="text-container">El reciclaje nos ayuda a reducir la contaminación, conservar recursos naturales y proteger nuestro medio ambiente. ¡Haz tu parte!</p>
            <div>
                <a href="/info" class="btn">Tipos de Plásticos</a>
                <a href="/subir" class="btn">Ingresa tu envase</a>
            </div>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/foquita.jpg') }}" alt="Foquita">
        </div>
    </div>
{% endblock %}