{% extends 'layout.html' %}

{% block title %}Subir imagen{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/subir.css') }}">
    </head>

    <header>
        <h1>Sube tu imagen</h1>
    </header>
    <div class="image-container" onclick="document.getElementById('fileInput').click()">
        <img id="placeholder" src="{{ url_for('static', filename='images/placeholder-image.png') }}" alt="Ejemplo de botella">
    </div>
    <div class="upload-container">
        <a href="/" class="btn">Volver al inicio</a>
        <input type="file" id="fileInput" style="display: none;" accept="image/*">
        <button class="btn" id="postImageButton">Enviar Imagen</button>
    </div>
    <script src="{{ url_for('static', filename='scripts/input.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/img-post.js') }}"></script>
{% endblock %}